/Tests/obj/Debug
/Tests/obj/Release
/Source/obj/Debug
/Source/obj/Release
/Source/bin/Debug
/Tests/bin/Debug
/Examples/bin/Debug
/Examples/obj/Debug
/Source/obj/cgTag - Debug
/Examples/bin/Release
/Examples/obj/Release
/Source/bin/Release
/Tests/bin/Release
